Importing the Numpy library for manipulation of array-based data. This library is used for numerical computing. Importing the Pandas library for manipulation of heterogenous and labeled data. This library is is used for organizing big data.

In [8]:
import numpy as np
import pandas as pd

In [ ]:
#Acquire

Loading the Behavioral Risk Factor Surveillance System (BRFSS) dataset for 2024.This file is in XPT (SAS transport) format, so we use read_sas() to import it.The dataset contains survey responses from adults about their health behaviors.Each row represents one participant, and each column is a survey variable.

In [14]:
diabetes_df = pd.read_sas('LLCP2024.XPT ', format='xport')

Checking the contents of the first 5 rows and accompanying columns to make sure the transfer was done successfully. The data in Python starts with 0 as their first row. This step also gives a little bit of insight into the data you are working with.

In [20]:
diabetes_df.head()

,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENM1,...,_LCSCTSN,_LCSPSTF,DRNKANY6,DROCDY4_,_RFBING6,_DRNKWK3,_RFDRHV9,_FLSHOT7,_PNEUMO3,_AIDTST4
0,1.0,2.0,b'02282024',b'02',b'28',b'2024',1100.0,b'2024000001',2.024000e+09,1.0,...,NaN,9.0,2.0,5.397605e-79,1.0,5.397605e-79,1.0,1.0,2.0,2.0
1,1.0,2.0,b'02212024',b'02',b'21',b'2024',1100.0,b'2024000002',2.024000e+09,1.0,...,4.0,9.0,2.0,5.397605e-79,1.0,5.397605e-79,1.0,1.0,1.0,2.0
2,1.0,2.0,b'02212024',b'02',b'21',b'2024',1100.0,b'2024000003',2.024000e+09,1.0,...,4.0,2.0,1.0,1.000000e+02,2.0,1.400000e+03,1.0,NaN,NaN,2.0
3,1.0,2.0,b'02282024',b'02',b'28',b'2024',1100.0,b'2024000004',2.024000e+09,1.0,...,NaN,9.0,2.0,5.397605e-79,1.0,5.397605e-79,1.0,1.0,1.0,2.0
4,1.0,2.0,b'02212024',b'02',b'21',b'2024',1100.0,b'2024000005',2.024000e+09,1.0,...,3.0,9.0,2.0,5.397605e-79,1.0,5.397605e-79,1.0,NaN,NaN,2.0

Querying the original dataset. For this analysis, only certain variables are needed, so I am subsetting this dataset to only include necessary variables. The necessary variables include: DIABETE4, _RACE, _AGEG5YR, EXERANY2, SMOKE100, GENHLTH, _BMI5CAT, _SEX, and _RFDRHV9. Querying the data helps to block unnecesary noise from the models that will be conducted later on in the analysis, it also helps to summzarize data and find patterns between variables. I am going to first make a list of those necessary videos and then subset them by putting them into a dataframe of their own.

In [19]:
necessary_columns = ['DIABETE4','_RACE','_AGEG5YR','EXERANY2','SMOKE100','GENHLTH','_BMI5CAT','_SEX','_RFDRHV9']
quiered_data = diabetes_df[necessary_columns]

In [ ]:
Checking the contents of the subsetted dataframe to make sure the transfer was successful.

In [21]:
quiered_data.head()

,DIABETE4,_RACE,_AGEG5YR,EXERANY2,SMOKE100,GENHLTH,_BMI5CAT,_SEX,_RFDRHV9
0,3.0,1.0,12.0,1.0,2.0,3.0,2.0,2.0,1.0
1,3.0,1.0,13.0,1.0,1.0,1.0,3.0,1.0,1.0
2,3.0,1.0,8.0,1.0,1.0,2.0,2.0,1.0,1.0
3,3.0,1.0,13.0,1.0,2.0,1.0,3.0,1.0,1.0
4,3.0,1.0,6.0,2.0,2.0,3.0,2.0,1.0,1.0

In [ ]:
#Prepare

This step informs us on how many rows and columns are within the data frame that we subsetted. This says that we have 475,670 rows and 9 columns or attributes.

In [22]:
quiered_data.shape

(457670, 9)

This step informs us of the data types we have from our attributes in our dataframe. All of the attributes in our dataframe are 'float64' which means default integers.

In [23]:
quiered_data.dtypes

DIABETE4    float64
_RACE       float64
_AGEG5YR    float64
EXERANY2    float64
SMOKE100    float64
GENHLTH     float64
_BMI5CAT    float64
_SEX        float64
_RFDRHV9    float64
dtype: object

This step summarizes the numerical attributes in our dataframe. Even though they are integers, they represent answers of a categories. Informing us of the most chosen (avaerage) category for most of them. The count for each attribute tells inexplicitly the amount of missing values we have, however, we will get an accurate number shortly.

In [24]:
quiered_data.describe()

,DIABETE4,_RACE,_AGEG5YR,EXERANY2,SMOKE100,GENHLTH,_BMI5CAT,_SEX,_RFDRHV9
count,457666.000000,457670.000000,457670.000000,457667.000000,428810.000000,457665.000000,414633.000000,457670.000000,457670.000000
mean,2.739718,2.287550,7.781845,1.251427,1.643007,2.659362,3.009244,1.524751,1.869063
std,0.765308,2.511348,3.738928,0.547624,0.667560,1.081163,0.836549,0.499388,2.414067
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,3.000000,1.000000,5.000000,1.000000,1.000000,2.000000,2.000000,1.000000,1.000000
50%,3.000000,1.000000,8.000000,1.000000,2.000000,3.000000,3.000000,2.000000,1.000000
75%,3.000000,2.000000,11.000000,1.000000,2.000000,3.000000,4.000000,2.000000,1.000000
max,9.000000,9.000000,14.000000,9.000000,9.000000,9.000000,4.000000,2.000000,9.000000

This step takes the count of the missing values in each attribute. Each of these values are less than 10% of the whole dataset that we have, so decisions later would need to be made on how to handle them.

In [26]:
quiered_data.isna().sum()

DIABETE4        4
_RACE           0
_AGEG5YR        0
EXERANY2        3
SMOKE100    28860
GENHLTH         5
_BMI5CAT    43037
_SEX            0
_RFDRHV9        0
dtype: int64

This step is to get counts of each category within each attribute in our susbet dataframe. This lets the researcher know the distribution of the categories and gives them insight into uneven categories.

In [31]:
quiered_data['DIABETE4'].value_counts(dropna=False)

DIABETE4
3.0    376125
1.0     65809
4.0     11307
2.0      3395
7.0       798
9.0       232
NaN         4
Name: count, dtype: int64

In [32]:
quiered_data['_RACE'].value_counts(dropna=False)

_RACE
1.0    329346
8.0     48646
2.0     35172
4.0     12646
7.0     10486
9.0      9103
3.0      6460
6.0      3737
5.0      2074
Name: count, dtype: int64

In [33]:
quiered_data['_AGEG5YR'].value_counts(dropna=False)

_AGEG5YR
10.0    47701
11.0    44774
9.0     43387
13.0    41756
12.0    36803
8.0     34936
7.0     31698
5.0     30899
1.0     29692
6.0     28968
4.0     28804
3.0     26237
2.0     23705
14.0     8310
Name: count, dtype: int64

In [34]:
quiered_data['EXERANY2'].value_counts(dropna=False)

EXERANY2
1.0    350061
2.0    106294
7.0       860
9.0       452
NaN         3
Name: count, dtype: int64

In [35]:
quiered_data['SMOKE100'].value_counts(dropna=False)

SMOKE100
2.0    258956
1.0    167242
NaN     28860
7.0      2062
9.0       550
Name: count, dtype: int64

In [36]:
quiered_data['GENHLTH'].value_counts(dropna=False)

GENHLTH
3.0    156229
2.0    145791
4.0     67919
1.0     64217
5.0     22204
7.0       915
9.0       390
NaN         5
Name: count, dtype: int64

In [37]:
quiered_data['_BMI5CAT'].value_counts(dropna=False)

_BMI5CAT
3.0    146563
4.0    139640
2.0    121053
NaN     43037
1.0      7377
Name: count, dtype: int64

In [38]:
quiered_data['_SEX'].value_counts(dropna=False)

_SEX
2.0    240163
1.0    217507
Name: count, dtype: int64

In [39]:
quiered_data['_RFDRHV9'].value_counts(dropna=False)

_RFDRHV9
1.0    386812
9.0     46698
2.0     24160
Name: count, dtype: int64

This step filters the subsetted dataframe to only include relevant and representative categories needed for the analysis.

In [45]:
filtered_df = quiered_data.copy()[
    (quiered_data['DIABETE4'].isin([1, 3])) &
    (quiered_data['_AGEG5YR'].isin([1,2,3,4,5,6,7,8,9,10,11,12,13])) &
    (quiered_data['_SEX'].isin([1, 2])) &
    (quiered_data['EXERANY2'].isin([1, 2])) &
    (quiered_data['_BMI5CAT'].isin([2,3,4])) &
    (quiered_data['GENHLTH'].isin([1,2,3,4,5])) &
    (quiered_data['_RACE'].isin([1,2,3,4,5,8])) &
    (quiered_data['SMOKE100'].isin([1,2])) &
    (quiered_data['_RFDRHV9'].isin([1,2]))
]

This step checks for missing values after filtering the dataframe to decide how missing values need to be handled. After filtereing the dataframe, there isn't anymore missing values.

In [46]:
filtered_df.isna().sum()

DIABETE4    0
_RACE       0
_AGEG5YR    0
EXERANY2    0
SMOKE100    0
GENHLTH     0
_BMI5CAT    0
_SEX        0
_RFDRHV9    0
dtype: int64

This step rechecks for the rows that were able to satisfy the requirements for this analysis.

In [47]:
filtered_df.shape

(344341, 9)

This step recodes categories to narrow down the categories to make more representative categories of the attributes.

In [48]:
filtered_df['DIABETE4'] = filtered_df['DIABETE4'].replace({
    1:0,
    3:1
})
filtered_df['_AGEG5YR'] = filtered_df['_AGEG5YR'].replace({
    1:1,
    2:1,
    3:1,
    4:2,
    5:2,
    6:2,
    7:2,
    8:3,
    9:3,
    10:3,
    11:3,
    12:3,
    13:3
})
filtered_df['_SEX'] = filtered_df['_SEX'].replace({
    1:0,
    2:1
})
filtered_df['EXERANY2'] = filtered_df['EXERANY2'].replace({
    1:0,
    2:1
})
filtered_df['GENHLTH'] = filtered_df['GENHLTH'].replace({
    1:2,
    2:1,
    3:1,
    4:0,
    5:0
})
filtered_df['SMOKE100'] = filtered_df['SMOKE100'].replace({
    1:1,
    2:0
})
filtered_df['_RFDRHV9'] = filtered_df['_RFDRHV9'].replace({
    1:0,
    2:1
})

In [ ]:
This step rechecks the dataframe to make sure the recoding of variables was successful.

In [49]:
filtered_df.head()

,DIABETE4,_RACE,_AGEG5YR,EXERANY2,SMOKE100,GENHLTH,_BMI5CAT,_SEX,_RFDRHV9
0,1.0,1.0,3.0,0.0,0.0,1.0,2.0,1.0,0.0
1,1.0,1.0,3.0,0.0,1.0,2.0,3.0,0.0,0.0
2,1.0,1.0,3.0,0.0,1.0,1.0,2.0,0.0,0.0
3,1.0,1.0,3.0,0.0,0.0,2.0,3.0,0.0,0.0
4,1.0,1.0,2.0,1.0,0.0,1.0,2.0,0.0,0.0

In [ ]:
This step renames the attributes to make it more readable to the target audience.

In [51]:
filtered_df = filtered_df.rename(columns={
    'DIABETE4': 'Diabetes',
    '_SEX': 'Sex',
    '_AGEG5YR': 'Age',
    'EXERANY2': 'Exercise',
    '_BMI5CAT': 'BMI',
    'GENHLTH': 'GeneralHealth',
    '_RACE': 'Race',
    'SMOKE100': 'EverSmoked',
    '_RFDRHV9': 'HeavyAlcohol'
})

In [ ]:
This step checks to ensure the attributes have been renamed to be more readable to the audience.

In [52]:
filtered_df.head()

,Diabetes,Race,Age,Exercise,EverSmoked,GeneralHealth,BMI,Sex,HeavyAlcohol
0,1.0,1.0,3.0,0.0,0.0,1.0,2.0,1.0,0.0
1,1.0,1.0,3.0,0.0,1.0,2.0,3.0,0.0,0.0
2,1.0,1.0,3.0,0.0,1.0,1.0,2.0,0.0,0.0
3,1.0,1.0,3.0,0.0,0.0,2.0,3.0,0.0,0.0
4,1.0,1.0,2.0,1.0,0.0,1.0,2.0,0.0,0.0